/deep/ .value {
  font-family: "Oxygen", sans-serif;
  font-size: 10px;
}

.d3-tooltip {
  display: inline;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  border-radius: 0.2rem;
  position: absolute;
  font-family: "Oxygen", sans-serif;
  color: white;
  font-size: 12px;
  padding: 0.5rem;
  pointer-events: none;
}

svg {
  width: 100%;
  height: auto;
}
